<div class="w-full flex flex-col h-screen overflow-y-hidden">
    <!-- HEADERS-->
    <%= render "dashboard/shared/teachers/admin_headers" %>
    
    <!-- CONTENTS-->
    <%= render "dashboard/shared/teachers/admin_contents" %>
</div>