<!DOCTYPE html>
<html>
  <head>
    <title>LNCLASSAPP</title>
    <!-- HEADERS-->
    <%= render "layouts/shared/headers" %>
  </head>

  <body>
    <%= render "layouts/shared/noticed" %>
    <%= render "shared/nav/navbar" %>
    <%= yield %>
  </body>
</html>
