<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <!-- HEADERS-->
    <%= render "layouts/shared/headers" %>
  </head>

  <body>
    <%= render "layouts/shared/noticed" %>
    
    <%= yield %>
  </body>
</html>
